# Extensions
*.uuid
*.conf
*.db
*.db-journal
*.noload
*.txt
*.sqlite
*.xml
*.log
*.backup
*.mp3

# Folders
.cloud
.HA_VERSION
.storage
.google.token
.vscode
www
zones
deps
tmp
__pycache__
tensorflow
security

# Files
google_calendars.yaml
secrets.yaml
known_devices.yaml
entity_registry.yaml
ip_bans.yaml
smartyone_nl.pem
server.pem
settings.json
home-assistant_v2.db-shm
home-assistant_v2.db-wal
image_processing.yaml
alarm_control_panel.yaml
security.yaml

# For security reasons
cameras
camera.yaml
