# Other
*.uuid
*.conf
*.db
*.db-journal
*.noload
*.txt
*.sqlite
*.xml
*.log
*.backup
.cloud
.HA_VERSION
www
zones
deps
tts
.storage
.google.token
secrets.yaml
known_devices.yaml
entity_registry.yaml
ip_bans.yaml
/www/custom_ui/floorplan
smartyone_nl.pem
server.pem
home-assistant_v2.db-shm
home-assistant_v2.db-wal
google_calendars.yaml
