*
!*.yaml
!scenes
!automation
!sensors
!.gitignore
secrets.yaml
known_devices.yaml
entity_registry.yaml
!README.rst
!.travis.yml



# Other
*.uuid
*.conf
*.db
*.db-journal
*.log
*.noload
*.txt
*.sqlite
*.xml
*.backup
.cloud
.HA_VERSION
www
zones
deps
tts
