---
homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret homeassistant_latitude
  longitude: !secret homeassistant_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret homeassistant_elevation
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Amsterdam
  # Customization #
  customize: !include_dir_merge_named customizations/entities
  # Lets me custimize all entities in a domain
  customize_domain: !include_dir_merge_named customizations/domains
  # Packages #
  packages: !include_dir_named components/packages
  # Whitelist #
  whitelist_external_dirs: !secret whitelist_dir_config

# Enables configuration UI
config:

websocket_api:

logger:
  default: info

# To include python scripts
python_script:

################################## COVERS ##################################
# cover:
#  - platform: mqtt
#    name: "Living Room 0"
#    command_topic: "blind/zolder/command"
#    tilt_command_topic: "blind/zolder/level"
#    tilt_status_topic: "blind/zolder/state"
#    tilt_closed_value: 180
#    tilt_opened_value: 80
#    device_class: 'window'
#    tilt_max: 180
#    tilt_min: 80
#    tilt_invert_state: True

################################## GOOGLE ASSISTANT ##################################
# google_assistant:
#  project_id: !secret google_assistant_project_id

################################## GOOGLE CALENDAR ##################################
# google:
#  client_id: !secret google_calendar_client_id
#  client_secret: !secret google_calendar_secret_key
#  track_new_calendar: true
