homeassistant:
  # Name of the location where Home Assistant is running
  name: Smart Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret homeassistant_latitude
  longitude: !secret homeassistant_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret homeassistant_elevation
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Amsterdam
  # Customization #
  customize: !include customize.yaml
  # Packages #
  packages: !include_dir_named components/packages
  # Whitelist #
  whitelist_external_dirs: !secret whitelist_dir_config

# Enables configuration UI
config:

http:
  # Secrets are defined in the file secrets.yaml
  # api_password: !secret http_password
  # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
  base_url: !secret http_base_url
  api_password: !secret http_api_password
  ssl_certificate: !secret ssl_certificate
  ssl_key: !secret ssl_key
  trusted_networks: 
    - !secret intern_ip_1
    - !secret intern_ip_2
    - 127.0.0.1
  login_attempts_threshold: 5
  
websocket_api:

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  include_used_components: true

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

logger:
    default: info

# Text to speech
tts:
  - platform: google

######################## INCLUDES ##########################
# Groups #
group: !include groups.yaml
# Automation #
automation: !include_dir_merge_list automation/
# Sensors #
sensor: !include_dir_merge_list sensors/
# Zones #
zone: !include_dir_list zones/
# Scenes #           
scene: !include_dir_merge_list scenes/

# panel_iframe:
# configurator:
#    title: Configurator
#    icon: mdi:wrench
#    url: http://hassio.local:3218

################################## COSTUM PANELS ##################################  
# FLOORPLAN#
panel_custom:
  - name: floorplan
    sidebar_title: Floorplan
    sidebar_icon: mdi:home
    url_path: floorplan
    config: !include floorplan.yaml

################################## COVERS ##################################
#cover:
#  - platform: mqtt
#    name: "Living Room 0"
#    command_topic: "blind/zolder/command"
#    tilt_command_topic: "blind/zolder/level"
#    tilt_status_topic: "blind/zolder/state"
#    tilt_closed_value: 180
#    tilt_opened_value: 80
#    device_class: 'window'
#    tilt_max: 180
#    tilt_min: 80
#    tilt_invert_state: True

################################## GOOGLE ASSISTANT ##################################
#google_assistant:
#  project_id: !secret google_assistant_project_id

################################## GOOGLE CALENDAR ##################################    
google:
  client_id: !secret google_calendar_client_id
  client_secret: !secret google_calendar_secret_key
  track_new_calendar: true